#root {
  height: 100vh;
  background-color: #ffffff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  img {
    width: 25rem;
    padding: 1rem;
  }

  ul {
    display: flex;
    list-style: none;
    margin-right: 10rem;

    li {
      margin-right: 5rem;
      font-size: 2.5rem;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 5rem 0 5rem;

  h1 {
    margin-bottom: 2.5rem;
  }
}

.hero {
  width: 80rem;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;

  h4 {
    margin-bottom: 2.5rem;
  }

  .sub {
    margin-bottom: 2rem;
  }

  .call {
    color: white;
    background-color: black;
    border-radius: 0.75rem;
    padding: 1rem 2rem;
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: fit-content;
    margin-bottom: 5rem;
    p {
      margin-right: 1rem;
    }
  }
}

.table-wrapper {
  margin: 0 auto;
  width: 75%;
}

.table {
  width: 100%;
  margin-top: 20px;
  text-align: center;

  thead {
    background-color: rgb(36, 35, 35);
    color: white;

    th {
      padding: 10px;
      border-radius: 0.5rem;
    }
  }

  input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 10px;
    width: 75%;
    background-color: #f0f0f0;
  }

  td {
    padding: 10px 0;
    border-bottom: 1px solid rgb(36, 35, 35);
  }

  button {
    background-color: #ffffff;
    border: none;
    color: rgb(36, 24, 24);
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;

  button {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: rgb(36, 35, 35);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
  }

  input {
    display: none;
  }
}

.upload-wrapper {
}
